@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <form method="post">
        <label>Email</label>
        <input asp-for="Email" type="text" />
        <br/>
        <label>Password</label>
        <input asp-for="Password" type="text" />
        <input type="submit" value="Login"/>
    </form>
</div>
